

.float-left {float:left;}
.float-right {float:right;}
.clear {clear:both;}




.note {border: 1px solid #ddd; background:#FCFCEB; padding:22px;}



/* FORM STYLING
-------------------------------------------------------------------------------------------*/

input[type="text"], input[type="password"], textarea {
    padding:8px; color:#555; border: 1px solid #ccc; 
    -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; width:18em;
}
input[type="checkbox"] {margin-top:-1px;}
form label { width: 15em; display:block; font-size:12px;}

.errorlist {color:red; font-size:12px;}
.errorlist li {list-style:none; margin:0px;}
.form-row.error input, .form-row.error textarea {border-color:red !important;}
.errornote {color:red;}

/* focus */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, 
input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus,
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8); outline: 0; outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    background:#fbfbfb;
}


/* BUTTONS
-------------------------------------------------------------------------------------------*/
.buttons {padding-bottom: 0px;  letter-spacing: -4px;}
.buttons.mega a,
.buttons.mega input[type="submit"] {font-size:17px !important; padding: 16px 22px 16px 22px !important;}

.buttons.notext a, .buttons a.notext {padding: 24px 38px 20px 10px; vertical-align:bottom;} 

.buttons a,
input[type="submit"], 
input[type="button"],
input[type="submit"], input[type="button"] {
    font: 12px Helvetica, Arial, sans-serif;text-decoration: none; letter-spacing:normal; color: #666;font-weight:bold;
    background: #f3f3f3; background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1)); background-repeat:no-repeat; 
    padding: 15px 38px ;; margin-right: 10px;
    position: relative; display: inline-block;
    text-shadow: 0 1px 0 #fff; letter-spacing: normal;
    -webkit-transition: border-color .218s; -moz-transition: border .218s; -o-transition: border-color .218s; transition: border-color .218s;
    border: solid 1px #dcdcdc;border-radius: 2px; -webkit-border-radius: 2px;-moz-border-radius: 2px;outline:0;
    background-image-position: 10px 6px; cursor:pointer;
}
.buttons a.deletelink,
input[type="submit"].deletelink {display:inline-block; 
    color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #DA4F49;
    background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
    background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
    background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
}

.buttons a:hover, input[type="submit"]:hover, button:hover {color: @color-hover; border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}



.buttons a.left {-webkit-border-top-right-radius: 0;-moz-border-radius-topright: 0; border-top-right-radius: 0;-webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;border-bottom-right-radius: 0; margin: 0;
}
.buttons a.middle {border-radius: 0;-webkit-border-radius: 0; -moz-border-radius: 0; border-left: solid 1px #f3f3f3;  margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
.buttons a.middle:hover, .buttons a.right:hover { border-left: solid 1px #999 }
.buttons a.right {-webkit-border-top-left-radius: 0;-moz-border-radius-topleft: 0; border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0; border-left: solid 1px #ddd; 
    margin:0;
}


.buttons a.deletelink:hover,
input[type="submit"].deletelink:hover {
    color:#fff; background-color: #DA4F49;
    background-image: -moz-linear-gradient(top, #BD362F, #EE5F5B);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BD362F), to(#EE5F5B));
    background-image: -webkit-linear-gradient(top, #BD362F, #EE5F5B);
    background-image: -o-linear-gradient(top, #BD362F, #EE5F5B);
    background-image: linear-gradient(to bottom, #BD362F, #EE5F5B);
}
input[type="submit"] {}
input[type="submit"]:hover {}






